@(art:models.articulo,form: Form[models.articulo],resp:List[(String,String)],ubic:List[(String,String)])(implicit request: MessagesRequestHeader,flash: Flash)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/insertar.css")">
        <link rel=”stylesheet” type=”text/css” title=”Some title” href= "stylesheets/insertar.css" />
	    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <title>Actualizar Articulo</title>
    </head>
    <body>
        @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
            }
        }
        <header>
            <h2><p id="regresar"> <a href="@routes.ModifController.modificarArticulo">volver<<< </a></p></h2>
        </header>

	
	    <main>
            <div id="msgs">
                <h3>@flash.get("success").getOrElse("Edite Articulo")</h3>
                <h3>@flash.get("error").getOrElse("")</h3>
            </div>
            <div class="box">
                @helper.form(routes.ModifController.updateArticulo(art.cod_art)) {
                <h1>Modificar Articulo</h1>
                @helper.CSRF.formField
                <div id="esencial">
                    @helper.inputText(form("codigo").copy(value = Some(art.cod_art)))
                    @helper.inputText(form("nombre").copy(value = Some(art.nombre_art)))
                    @helper.textarea(form("descripcion").copy(value=Some(art.descripcion_art)))
                </div>
                <div id="datos">
                    @helper.select(form("estado").copy(value=Some(art.estado_art)),options = Seq(art.estado_art->art.estado_art,"bueno"->"bueno","regular"->"regular","malo"->"malo").distinct)
                    @helper.inputText(form("valor").copy(value=Some(art.valor_aprox.toString)))
                    @helper.inputDate(form("ultimo_mantenimiento").copy(value=Some(art.f_ult_mto.toString)))
                    @helper.inputDate(form("prox_mantenimiento").copy(value=Some(art.f_prox_mto.toString)))
                </div>
                <div id="otros">
                    @helper.select(form("responsable").copy(value=Some(art.responsable)), options = resp)
                    @helper.select(form("ubicacion").copy(value=Some(art.ubicacion)),options=ubic)
                </div>
                <button class="btn btn-warning">Modificar</button>
                }
            </div>
        </main>
    </body>
</html>