@(form: Form[models.local])(implicit request: MessagesRequestHeader,flash: Flash)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/insertar.css")">
        <link rel=”stylesheet” type=”text/css” title=”Some title” href= "stylesheets/insertar.css" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <title>Insertar Local</title>
    </head>
    <body>
        @if(form.hasGlobalErrors) {
            @form.globalErrors.map { error: FormError =>
            <div>
            @error.key: @error.message
            </div>
            }
        }
        <header>
            <h2><p id="regresar"> <a href="@routes.AdminController.insertar">volver<<< </a></p></h2>
        </header>


	    <main>
            <div id="msgs">
                <h3>@flash.get("success").getOrElse("Inserte local")</h3>
                <h3>@flash.get("error").getOrElse("")</h3>
            </div>
            <div class="box">
                @helper.form(routes.InsertController.addLocal) {
                <h1>Insertar Local</h1>
                @helper.CSRF.formField
                <div id="datos">
                    @helper.inputText(form("cod_local"))
                    @helper.inputText(form("nombre_local"))
                    @helper.select(form("tipo_local"),options = List("laboratorio"->"laboratorio","oficina"->"oficina","descanso"->"descanso"))
                </div>
                <button class="btn btn-secondary">INSERTAR</button>
                }
            </div>
        </main>

    </body>
</html>